.setting-wrapper {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .setting-panel {

    font-size: .9em;
    width: 20em;
    padding: 1em;
    position: relative;
    background-color: paleturquoise;
    color: #a94766fc;
    border: 0.1em dotted;
    border-radius: 0.1em;

    .radio-buttons-wrapper {

      @import "_radioButton";
    }

    .language-wrapper {

      margin: 0.25em 0 2em;
    }

    .form-group {

      margin: 1em 0;

      .no-capitalize {

        text-transform: none;
      }
    }

    .sliders-wrapper {

      margin-left: 1.8em;
    }

    .buttons-group {

      margin-top: 2em;
      text-align: center;

      button {

        font-size: .9em;
        background-color: #c3c3c375;
        border: 0;
        outline: 0;
        border-radius: 1px;
        padding: 0.325em 0.5em;
        cursor: pointer;
        margin: 0 .25em;
        color: #000000db;
        opacity: 0.75;

        &:hover {

          opacity: 1;
        }

        &.button-green {

          background-color: cadetblue;
          color: aliceblue;
        }
      }
    }

    .settings-panel-close {

      width: 1.5em;
      height: 1.5em;
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      transform: rotate(45deg);
      cursor: pointer;
      color: #000000db;

      &:after {

        content: '+';
        width: 1em;
        height: 1em;
        position: absolute;
        font-size: 1.5em;
        text-align: center;
        opacity: 0.5;
      }
    }
  }
}
