.setting-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .setting-panel {
    width: 20em;
    padding: 1em;
    position: relative;
    background-color: paleturquoise;
    color: palevioletred;

    .radio-buttons-wrapper {
      @import "_radioButton";
    }

    .language-wrapper {
      margin: 0.25em 0 2em;
      select {
        font-size: 1em;
        background-color: paleturquoise;
        color: palevioletred;
      }
    }

    .form-group {
      margin: 0.5em 0;
    }

    .sliders-wrapper {
      margin-left: 1.35em;
    }

    .buttons-group {
      margin-top: 2em;
      text-align: center;

      button {
        background-color: #c3c3c375;
        border: 0;
        outline: 0;
        border-radius: 1px;
        padding: 0.325em 0.5em;
        cursor: pointer;
        margin: 0 .25em;
        font-size: 1em;

        &:hover {
          background-color: rgba(191, 191, 191, 0.56);
        }
        &.button-green {
          background-color: yellowgreen;
        }
      }
    }

    .settings-panel-close {
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      transform: rotate(45deg);
      cursor: pointer;
      color: darkgrey;

      &:after {
        content: '+';
        width: 1em;
        height: 1em;
        position: absolute;
        font-size: 1.5em;
        text-align: center;
      }
    }
  }
}
