.slider-wrapper {

  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  user-select: none;

  .slider-line-wrapper {

    width: 100%;
    height: .075em;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    border: 0.2125em solid transparent;
    margin: 0.25em;

    .slider-line {

      background-color: azure;
      height: 3px;

      .slider-line-active {

        background-color: cadetblue;
        height: 3px;
      }

      .slider-dot {

        width: calc(0.75em - 2px);
        height: calc(0.75em - 2px);
        border-radius: 100%;
        background-color: cadetblue;
        position: absolute;
        top: calc(-0.75em / 2 + 2px);
        cursor: grab;
        left: calc(-0.75em / 2);
        border: 1px solid cadetblue;
      }
    }
  }

  .slider-min-max {

    font-size: 0.75em;
  }

  .slider-input-wrapper {

    text-align: center;
    width: 7em;

    .slider-input {

      font-size: 1em;
      color: #a94766fc;
      background: transparent;
      text-align: center;
      border: 0;
      border-bottom: 1px solid;
      opacity: 0.9;

      &:focus {

        opacity: 1;
        outline: none;
      }
    }
  }
}
