.main-wrapper {

  display: flex;
  user-select: none;

  .game {

    display: flex;
    flex-direction: column;
    background-color: palevioletred;
    margin: auto;
    color: antiquewhite;
    border-style: dashed;

    .control-panel {

      padding: 0.1em 0.2em;

      .top-panel {

        display: flex;
        justify-content: space-between;

        .top-panel-link {

          font-size: 0.8em;
          margin-bottom: 0.1em;

          a {

            color: inherit;

            &:hover {

              text-decoration: none;
            }
          }
        }
      }



      .game-panel {

        display: flex;
        align-content: normal;
        justify-content: space-between;
        align-items: stretch;

        > div {

          flex-grow: 1;
          flex-basis: 0;
          text-align: center;

          &:first-child {

            text-align: left;
            position: relative;
            top: 0.11em;
          }

          &:last-child {

            text-align: right;
            position: relative;
            top: 0.11em;
          }
        }

        .main-button-wrapper {

          .main-button {

            width: 1.25em;
            height: 1.25em;
            margin: auto;
            cursor: pointer;
            background-image: url("../../../themes/qi/smile-neutral-1.png");
            background-size: contain;

            &.icon-positive-1 {
              background-image: url("../../../themes/qi/smile-positive-1.png");
            }
            &.icon-positive-2 {
              background-image: url("../../../themes/qi/smile-positive-2.png");
            }
            &.icon-positive-3 {
              background-image: url("../../../themes/qi/smile-positive-3.png");
            }
            &.icon-positive-4 {
              background-image: url("../../../themes/qi/smile-positive-4.png");
            }
            &.icon-positive-5 {
              background-image: url("../../../themes/qi/smile-positive-5.png");
            }

            &.icon-negative-1 {
              background-image: url("../../../themes/qi/smile-negative-1.png");
            }
            &.icon-negative-2 {
              background-image: url("../../../themes/qi/smile-negative-2.png");
            }
            &.icon-negative-3 {
              background-image: url("../../../themes/qi/smile-negative-3.png");
            }
            &.icon-negative-4 {
              background-image: url("../../../themes/qi/smile-negative-4.png");
            }
            &.icon-negative-5 {
              background-image: url("../../../themes/qi/smile-negative-5.png");
            }
            &.icon-negative-6 {
              background-image: url("../../../themes/qi/smile-negative-6.png");
            }

            &.icon-promising-1 {
              background-image: url("../../../themes/qi/smile-promising-1.png");
            }
            &.icon-promising-2 {
              background-image: url("../../../themes/qi/smile-promising-2.png");
            }
            &.icon-promising-3 {
              background-image: url("../../../themes/qi/smile-promising-3.png");
            }
          }
        }
      }
    }
  }
}
