body {
  /*line-height: 2;*/
  /*font-size: 32px;*/
  font-family: monospace;
}

.field {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  background-color: gray;
  width: 75px;
  height: 75px;
  text-align: center;
  border: 1px solid darkgray;
}

.field-flag:before {
  content: '!';
}
.field-question:before {
  content: '?';
}
.field-flag-wrong:after {
  content: 'X';
  color: yellow;
}
.field-flag:before, .field-question:before, .field-flag-wrong:after {
  width: 75px;
  height: 75px;
  display: block;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
}

.game-finished .field-bomb {
  background-color: darkred;
}

.game-finished .field-bomb.field-opened {
  background-color: red;
}

.field-opened {
  background-color: white;
}
