$tileSize: 2em;

body, button, select {
  font-family: monospace;
  text-transform: capitalize;
}

body {
  background-color: whitesmoke;
  font-size: $tileSize;

  // transition: all 3s ease, background-position 1s;
}
